.build/**
src.exe
src.bin
*.pdb
*.rdbg
src/shader.glsl_hlsl5_fs.glsl
src/shader.glsl_hlsl5_fs.spv
src/shader.glsl_hlsl5_vs.glsl
src/shader.glsl_hlsl5_vs.spv
src/shader.glsl_wgsl_fs.glsl
src/shader.glsl_wgsl_fs.spv
src/shader.glsl_wgsl_vs.glsl
src/shader.glsl_wgsl_vs.spv
atlas.png
src/shader.odin
font.png
sokol-tools/
fips/
